<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>github.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A345AED1C3C8A3B00AE2E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A345B091C3C8A3B00AE2E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A345B141C3C8A3B00AE2E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
